
<section class="hero">
  <section class="container">
    <section class="nav-home">
      <% if user_signed_in? %>
        <%= link_to 'Share the world', user_posts_path(@user.id), class: 'btn'  %>
      <% elsif %>
        <%= link_to 'Sign Up',new_user_registration_path, class: 'btn' %>
        <%= link_to 'Sign In',new_user_session_path   %>
      <% end %>
    </section>

    <section class="trippr-info">
        <img src="<%= image_path("logo_trippr.svg") %>" alt="trippr logo"/>
        <h1>Share the world</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quam dolor tempora maxime eaque mollitia explicabo perferendis numquam delectus possimus facilis quaerat, amet id asperiores nemo? Quasi vel, pariatur repellendus.</p>
        <a href="#world" class="learn btn">Learn more</a>
    </section>
  </section>
</section>

<section class="plane-fixed"></section>

<section class="container world" id="world">
    <div class="world-image"><img src="<%= image_path("world.png") %>" alt="world"/></div>
    <div class="world-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ab cum voluptas quod, necessitatibus dignissimos, libero cumque possimus minima hic non explicabo placeat vitae consequuntur natus! Sint quae, ducimus distinctio.</p>
    </div>
</section>

<hr class="divider">

<section class="container world">
    <div class="share-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ab cum voluptas quod, necessitatibus dignissimos, libero cumque possimus minima hic non explicabo placeat vitae consequuntur natus! Sint quae, ducimus distinctio.</p>
    </div>
    <div class="share-image"><img src="<%= image_path("share.png") %>" alt="share"/></div>
</section>


<section class="plane-fixed"></section>

<section class="container signup">
  <% if user_signed_in? %>
        <%= link_to 'Share the world', user_posts_path(@user.id), class: 'btn'  %>
      <% else %>
      <%= link_to 'Start Sharing',new_user_registration_path, class: 'btn' %>
  <% end %>
  <h3>Are you ready?</h3>
</section>

<section class="container">
  <section class="opinions">
    <div class="opinions-photo">
      <img src="<%= image_path("photo.jpg") %>" alt="Someone">
    </div>
    <div class="opinions-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <span class="author">Johnny McJohn John</span>
    </div>
  </section>  
</section>
