<section class="form new-post">
<%= simple_form_for @post do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :country, priority: [ "Canada" ] %>
  <%= f.input :place %>
  <%= f.hint  "Please be as specific as you can!" %>

  <%= f.button :submit, data: {disable_with: "submitting..."} %>
<% end %>
</section>