<section class="post-user-info">
  <% if @user.first_name? %>
  <h1><%= @user.first_name %>'s trips</h1>
<% else %>
  <h1><%= @user.email %>'s trips</h1>
<% end %>
<hr>
<% if current_user.id == @user.id %>
  <% if @user.description? %>
    <p><%= @user.description %></p>
  <% else %>
    <%= link_to 'Tell the world a bit about yourself!', edit_user_registration_path(@user)  %>
  <% end %>
<% else %>
  <% if @user.description? %>
    <p><%= @user.description %></p>
  <% else %>
    <p><%= @user.first_name %> is awesome</p>
  <% end %>
<% end %>
</section>

<h1></h1>

<% if @posts.count == 0 %>
  <section class="posts">
    <h1>Dont by shy!</h1>
    <%= link_to 'Share your trip!', new_post_path  %>
  </section>
<% end %>

<% @posts.each do |post| %>
<section class="posts">
  <section class="post-info">
    <img src="<%= image_url('icon_17583.png') %>" />
    <p class="post-cat">sports</p>
    <p>This is a place</p>
    <p><%= @spot.formatted_address %></p>
  </section>
  <section class="post">
    <section class="username">
     <%= link_to post.user.full_name, user_posts_path(post.user) %>
    </section>
    <section class="post-user">
      <%= image_tag('photo.jpg') %>
    </section>
    <section class="post-meta">
      <%= link_to post.title, post_path(post.id)  %>
      <p><%= post.created_at.strftime('Posted on a %A, %b %d %Y') %>, from a trip to <%= post.country %></p>
    </section>
    <section class="post-picture">
      <img src="<%= image_url('post-picture.jpg') %>">
    </section>
  
    <section class="post-content">
      <%= post.content.truncate(500) %><%= link_to '  Read more...', post_path(post.id)  %>
    </section>
    <section class="post-social">
      <div class="social-likes">
        <%= fa_icon'paper-plane' %><a href="#"> Likes</a>
      </div>
      <% if user_signed_in? && post.user_id == current_user.id %>
      <div class="social-edit">
        <%= fa_icon'edit' %> <%= link_to 'Edit', edit_post_path(post.id)  %>
      </div>
      <% end %>
      <div class="social-comments">
        <%= fa_icon'comment' %> <a href="#"> Comments</a>
      </div>
    </section>
  </section>
</section>
<% end %>
