<%= render 'info' %>

<% if @posts.count == 0 %>
  <section class="posts">
    <h1>Dont be shy!</h1>
    <%= link_to 'Share your trip!', new_post_path  %>
  </section>
<% end %>

<% @posts.recent.each do |post| %>

<section class="posts">
  <section class="post-info">
    <p class="post-cat"><%= post.category if post.category? %></p>
    <p><%= post.formatted_address if post.formatted_address? %> </p>
    <h5><span class="blue-go">G</span><span class="red">O</span><span class="yellow">O</span><span class="blue-go">G</span><span class="green">L</span><span class="red">E</span> Rating</h5>
      <p> <%= post.rating if post.rating? %> </p>
  </section>
  <section class="post">
    <section class="username">
     <%= link_to post.user.full_name, user_posts_path(post.user) %>
    </section>
    <section class="post-meta">
      <%= link_to post.title, post_path(post.id)  %>
      <p><%= post.created_at.strftime('Posted on a %A, %b %d %Y') %>, from a trip to <%= post.country %></p>
    </section>
    <section class="post-picture">
      <% if post.picture? %>
        <%= image_tag post.picture.url(:main) %>
      <% else %>
        <img src="<%= image_url('balloon.png') %>">
      <% end %>
    </section>
  
    <section class="post-content">
      <%= markdownify post.content.truncate(200) %><%= link_to '    Read more...', post_path(post.id)  %>
    </section>
    <section class="post-social">
       
       <div class="social-likes">
          <% if post.likes.count == 0 %>
            <%= fa_icon'paper-plane-o' %> <a href="<%= post_path(post.id) %>">No Likes</a>
          <% else %>
            <%= fa_icon'paper-plane' %><a href="<%= post_path(post.id) %>"><%= post.likes.count %> Likes</a>
          <% end %>
      </div>
      
      <div class="social-edit">
      <% if user_signed_in? && post.user_id == current_user.id %>
        <%= fa_icon'edit' %> <%= link_to 'Edit', edit_post_path(post.id)  %>
      <% else %>
        <p>|</p>
      <% end %>
      </div>
      <div class="social-comments">
        <%= fa_icon'comment' %> <a href="<%= post_path(post.id) %>"> <%= post.comments.count %> Comments</a>
      </div>
    </section>
  </section>
</section>
<% end %>

<%= paginate @posts %>
