<section class="posts">
  <section class="post-info">
    <img src="<%= image_url('icon_17583.png') %>" />
    <p class="post-cat">sports</p>
    <p>This is a place</p>
  </section>
  <section class="post">
    <section class="username">
     <%= link_to @post.user.full_name, user_posts_path(@post.user) %>
    </section>
    <section class="post-user">
      <%= image_tag('photo.jpg') %>
    </section>
    <section class="post-meta">
      <h2><%= @post.title %></h2>
      <p><%= @post.created_at.strftime('Posted on a %A, %d %b %Y') %>, from a trip to <%= @post.country %></p>
    </section>
    <section class="post-picture">
      <img src="<%= image_url('post-picture.jpg') %>">
    </section>
    <section class="post-content">
      <p><%= @post.content %></p>
    </section>
    <%= social_share_button_tag(@post.title, :url => "http://myapp.com/foo/bar") %>
    <section class="post-social">
      <div class="social-likes">
        <%= fa_icon'paper-plane' %><a href="#"> Likes</a>
      </div>
      <% if user_signed_in? && @post.user_id == current_user.id %>
      <div class="social-edit">
        <%= fa_icon'edit' %> <%= link_to 'Edit', edit_post_path(@post.id)  %>
      </div>
      <% end %>
      <div class="social-comments">
        <%= fa_icon'comment' %> <a href="#"> Comments</a>
      </div>
    </section>
  </section>
</section>
