<section class="posts-show">
  <section class="post-info">
    <img src="<%= image_url('icon_17583.png') %>" />
    <p class="post-cat">sports</p>
    <p>This is a place</p>
  </section>
  <section class="post">
    <section class="username">
     <%= current_user.full_name %>
    </section>
    <section class="post-user">
      <%= image_tag('photo.jpg') %>
    </section>
    <section class="post-meta">
      <h2><%= @post.title %></h2>
      <p>Posted <%= @post.created_at.strftime('%b %Y') %> near blah blah blah</p>
    </section>
    <section class="post-picture">
      <img src="<%= image_url('post-picture.jpg') %>">
    </section>
    <section class="post-content">
      <p><%= @post.content %></p>
    </section>
    <section class="post-social">
      <div class="social-likes">
        <%= fa_icon'paper-plane' %><a href="#"> Likes</a>
      </div>
      <% if user_signed_in? && @post.user_id == current_user.id %>
      <div class="social-edit">
        <%= fa_icon'edit' %> <%= link_to 'Edit', edit_post_path(@post.id)  %>
      </div>
      <% end %>
      <div class="social-comments">
        <%= fa_icon'comment' %> <a href="#"> Comments</a>
      </div>
    </section>
  </section>
</section>
